main {
    display: flex;
}

.container {
    background-color: white;
}

.TitlesDiv {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ CSS for the table start ------- */

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgb(196, 196, 196);
    background-color: white;
    text-align: left;
    overflow: hidden;
}

thead {
    box-shadow: 0 5px 10px rgb(196, 196, 196);
    background-color: #ED8C31;
}

th {
    padding: 5px 30px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: 900;
}

td {
    padding: 8px 30px;
}

tr:nth-child(even) {
    background-color: #fde6d0;
}

.DeleteData {
    text-align: center;
}

.fa-trash-alt {
    color: red;
}

.fa-trash-alt:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.ConfirmData, .ConfirmCase {
    padding-right: 0px;
}

.ConfirmData {
    text-align: center;
}

.fa-check-circle {
    color: rgb(5, 218, 5);
}

.fa-check-circle:hover {
    color: rgb(0, 214, 0);
    cursor: pointer;
}

.amount {
    text-align: right;
}

.productImage {
    height: 70px;
    width: 70px;
    padding-right: 5px;
}

.StateDiv {
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
}

.OnHold {
    color: rgb(216, 205, 49);
    background-color: rgb(247, 255, 136);
}

.Delivred {
    color: rgb(58, 116, 0);
    background-color: rgb(184, 252, 117);
}

/* ------ CSS for the table end------- */

/* ------- the user pop up ------- */

.userPopUp {
    position: absolute;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    border-radius: 10px;
    width: 250px;
    padding-bottom: 5px;
    top: 600px;
    left: 80%;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    z-index: 100;
    opacity: 0;
    transform: translate(10px, 4px)scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.userPopUp.active {
    top: 60px;
    opacity: 1;
    transform: translate( 10px, 4px)scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    transition: 0.2ms;
}

.profileImageDiv {
    padding:  10px;
    vertical-align: center;
}

.OptionsDiv {
    padding:  5px 15px;
}

.OptionsDiv .accountOptions {
    color: #141415;
    text-decoration: none;
}

.OptionsDiv:hover {
    background-color: rgb(228, 227, 227);
    border-radius: 5px;
}

.accountOptionsIcons {
    color: #141415;
    padding-right: 15px;
}

.UserName {
    color: rgb(87, 87, 87);
    padding-left: 10px;
}

.profileImagePopUp {
    width: 60px;
    clip-path: circle();
}

/* ------------------------------------- */
