body {
    font-size: 17px !important;
    font-family: 'Cairo', sans-serif !important;
}

.mr-auto {
    margin-left: auto;
}

.btn-outline-success {
    border: none !important;
    color: black;
    background-color: none !important;
}

.btn-outline-success:focus {
    box-shadow: none !important;
}

.btn-outline-success:hover {    
    background-color: white !important;
    color: #DEA85E;
    border: none;
}

.signup {
    color: black !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    margin-left: 3px;
}

.signup:hover {
    color: #DEA85E!important;
}

.cartIcon {
    height: 25px;
    margin-right: 10px;
}

.nav-link {
    padding: 0px 10px !important;   
    color: black !important;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
    background: #DEA85E;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.logo {
    height: 45px;
}

.registration {
    display: none;
}

.navbar-toggler {
    color: #DEA85E !important;
    border-color: #DEA85E !important;
}

.navbar {
    margin: 0px 30px;
}

.dropdown-menu {
    border: none;
}

.dropdown-menu a:hover {
    background-color: #DEA85E;
    color: white;
}

.fa-shopping-bag {
    color: black;
}

.fa-shopping-bag:hover {
    color: #DEA85E;
}

@media (max-width: 991px) {
    .registration {
        display: block;
    }

    .signup, .cartIcon, .login, .shopping-bag {
        display: none;
    }
}

@media (max-width: 576px) {

    .dropdown-menu {
        padding-left: 30px;
    }

    .shopping-bag {
        display: none;
    }
}