body {
    font-size: 17px !important;
    font-family: 'Cairo', sans-serif !important;
}

.mr-auto {
    margin-left: auto;
}

.login {
    color: white!important;
    background-color: black!important;
}

.login:hover {
    color: white!important;
    background-color: #DEA85E!important;
}

.login:focus {
    background-color: none !important;
}

.btn-outline-success {
    border: none !important;
    color: black;
    background-color: none !important;
}

.btn-outline-success:active {
    background-color: white !important;
}

.btn-outline-success:focus {
    box-shadow: none !important;
    border-style: none !important;
    background-color: none !important;
}

.btn-outline-success:hover {    
    background-color: white ;
    color: #DEA85E;
    border: none;
}

.signup {
    color: black !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
    margin-right: 5px;
}

.signup:hover {
    color: #DEA85E!important;
}

.cartIcon {
    height: 25px;
    margin-right: 10px;
}

.nav-link {
    padding: 0px 10px !important;   
    color: black !important;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width .3s;
    background: #DEA85E;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.logo {
    height: 45px;
}

.registration {
    display: none;
}

.navbar-toggler {
    color: #DEA85E !important;
    border-color: #DEA85E !important;
}

.navbar {
    margin: 0px 30px;
}

.dropdown-menu {
    border: none;
}

.dropdown-menu a:hover {
    background-color: #DEA85E;
    color: white;
}

.fa-shopping-bag {
    color: black;
}

.fa-shopping-bag:hover {
    color: #DEA85E;
}

@media (max-width: 991px) {
    .registration {
        display: block;
    }

    .signup, .cartIcon, .login, .shopping-bag {
        display: none;
    }
}

@media (max-width: 576px) {

    .dropdown-menu {
        padding-left: 30px;
    }

    .shopping-bag {
        display: none;
    }
}

/* ------- the user pop up ------- */

.userPopUp {
    position: absolute;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    border-radius: 10px;
    width: 250px;
    padding-bottom: 5px;
    top: 600px;
    left: 80%;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    z-index: 100;
    opacity: 0;
    transform: translate(10px, 4px)scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
  }
  
  .userPopUp.active {
    top: 60px;
    opacity: 1;
    transform: translate( 10px, 4px)scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    transition: 0.2ms;
  }
  
  .profileImageDiv {
    padding:  10px;
    vertical-align: center;
  }
  
  .OptionsDiv {
    padding:  5px 15px;
  }
  
  .OptionsDiv .accountOptions {
    color: #141415;
    text-decoration: none;
  }
  
  .OptionsDiv:hover {
    background-color: rgb(228, 227, 227);
    border-radius: 5px;
  }
  
  .accountOptionsIcons {
    color: #141415;
    padding-right: 15px;
  }
  
  .UserName {
    color: rgb(87, 87, 87);
    padding-left: 10px;
  }
  
  .profileImagePopUp {
    width: 60px;
    clip-path: circle();
  }
  
  /* ------------------------------------- */