.container {
    display: flex;
    justify-content: space-between;
}

.productCardContainer {
    padding: 10px;
}

.productCard {
    background-color: #fff0dd;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    padding: 20px 10px;
    margin: 8px;
}

.productCard:hover {
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.productCard a {
    text-decoration: none;
    color: #cf6909;
}

.productPrice {
    padding: 0px 35px;
}

.productImage {
    height: 120px;
    width: 120px;
}

.fa-heart:hover {
    color: red;
    cursor: pointer;
}

.fa-shopping-cart {
    cursor: pointer;
}

.controles {
    display: flex;
    justify-content: center;
    margin-left: -40px;
}

.controles li {
    list-style: none;
    
}

.controles li a {
    background-color: none;
    width: 40px;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controles li a::before:hover {
    border-color: darkorange;
}

.controles li a::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 3px solid ;
    border-bottom: 3px solid ;
    border-color: black;
    transform: rotate(45deg);
}

.controles li:nth-child(2) a::before {
    transform: rotate(225deg);
}

.fa-shopping-bag {
    padding-right: 10px;
    color: #188d66;
}

/* ------- the user pop up ------- */

.userPopUp {
    position: absolute;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(243, 243, 243);
    border-radius: 10px;
    width: 250px;
    padding-bottom: 5px;
    top: 600px;
    left: 80%;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    z-index: 100;
    opacity: 0;
    transform: translate(10px, 4px)scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
  }
  
  .userPopUp.active {
    top: 60px;
    opacity: 1;
    transform: translate( 10px, 4px)scale(1);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
    transition: 0.2ms;
  }
  
  .profileImageDiv {
    padding:  10px;
    vertical-align: center;
  }
  
  .OptionsDiv {
    padding:  5px 15px;
  }
  
  .OptionsDiv .accountOptions {
    color: #141415;
    text-decoration: none;
  }
  
  .OptionsDiv:hover {
    background-color: rgb(228, 227, 227);
    border-radius: 5px;
  }
  
  .accountOptionsIcons {
    color: #141415;
    padding-right: 15px;
  }
  
  .UserName {
    color: rgb(87, 87, 87);
    padding-left: 10px;
  }
  
  .profileImagePopUp {
    width: 60px;
    clip-path: circle();
  }
  
  /* ------------------------------------- */