body {
  font-size: 17px !important;
  font-family: 'Cairo', sans-serif !important;
}



.Commandes {
  margin-left: -3px;
  white-space: nowrap;
} 

.barItem {
  white-space: nowrap;
}

.ContentDivs {
  border: 1px solid ;

  height: 200px;
  width: 48%;
  margin: 0px;
  padding: 0px;
}

.firstDiv, .sndDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
}

.firstDiv {
  padding-bottom: 5px;
}

.sndDiv {
  padding-top: 5px;
}

.theContainer {
  display: flex;
  margin-top: 20px;
  padding: 0px 5px;
}

.theContent {
  display: block;
  text-align: center;
  padding-top: 70px;
}

.more {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  display: block;
  text-align: right;
  padding-top: 12px;
  padding-right: 20px;
  font-size: 16px;
}

.more a {
  color: rgb(65, 65, 65);
  text-decoration: none;
}

.more a:hover {
  color: rgb(248, 183, 109);
}

.details {
  display: flex;
  padding : 30px;
  padding-top: 35px;
}

.descr {
  text-align: left;
  font-size: 22px;
  padding-top: 10px;
}

.Illustrations {
  height: 120px;
  width: 120px;
}

.ClientsDiv {
  border: 2px solid rgb(247, 143, 25);
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffffff, rgb(247, 143, 25));
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.RevenusDiv {
  border: 2px solid rgb(247, 143, 25);
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #ffffff, rgb(247, 143, 25));
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.CommandesDiv {
  border: 2px solid rgb(247, 143, 25);
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #ffffff, rgb(247, 143, 25));
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.AchatDiv {
  border: 2px solid rgb(247, 143, 25);
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ffffff, rgb(247, 143, 25));
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1225px) {

  .navigation {
    padding: 0px 8px;
  }
  

}

/* ------- the user pop up ------- */

.userPopUp {
  position: absolute;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 10px;
  width: 250px;
  padding-bottom: 5px;
  top: 600px;
  left: 80%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 100;
  opacity: 0;
  transform: translate(10px, 4px)scale(1);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.userPopUp.active {
  top: 60px;
  opacity: 1;
  transform: translate( 10px, 4px)scale(1);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
  transition: 0.2ms;
}

.profileImageDiv {
  padding:  10px;
  vertical-align: center;
}

.OptionsDiv {
  padding:  5px 15px;
}

.OptionsDiv .accountOptions {
  color: #141415;
  text-decoration: none;
}

.OptionsDiv:hover {
  background-color: rgb(228, 227, 227);
  border-radius: 5px;
}

.accountOptionsIcons {
  color: #141415;
  padding-right: 15px;
}

.UserName {
  color: rgb(87, 87, 87);
  padding-left: 10px;
}

.profileImagePopUp {
  width: 60px;
  clip-path: circle();
}

/* ------------------------------------- */


